 /*Import google fonts!*/
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Sulphur+Point:wght@300;400;700&display=swap');

 /*Assigns variables for reusable colors*/
:root {
  --primary-color: #D4E3CA;
  --secondary-color: #86937D  ;
  --tertiary-color: #30362C;
  --quaternary-color: #586053;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--quaternary-color);
  /*Assigns a font and a back-up font if the first isn't supported by the browser*/
  font-family: "Sulphur Point:wght@400", sans-serif;
  background-color: var(--primary-color);
}

header {
  padding: 20px 35px;
  /* Allows for header elements to appear side by side & wrap around as the screen size shrinks */
  display: flex;
  flex-wrap: wrap-reverse;
  /*Justifies header sections to the left & right side of the page*/
  justify-content: space-between;
  align-items: center;
}

header a {
  /*Removes default styling for links*/
  text-decoration: none;
  color: var(--quaternary-color);
}

header a {
  /*Removes default styling for links*/
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: lighter;
  color: var(--tertiary-color);
}

header span {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: lighter;
  color: var(--tertiary-color);
}

header h1 {
  /*Makes text bold*/
  font-family: "Monoton";
  font-size: 80px;
  color: var(--quaternary-color);
}

/* Remove default list styling*/
header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

header nav ul li {
  text-align: center;
  font-weight: bold;
}

.bio-section {
  /*Flex-wrap is allowing the bio-text to wrap around under the bio-img*/
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 20px;
  margin: 0px 30px 30px 30px;
  background-color: var(--primary-color);
}

/* Width of img will take up 80% of space*/
.bio-section img {
  max-width: 80%;
  box-shadow: 2px 2px 3px #586053;
}

.bio-text h2 {
  font-size: 50px;
  color: var(--tertiary-color);

}


.project-section {
  margin: 30px 30px 20px 30px;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--primary-color);
}

.project-section h2 {
  color: var(--tertiary-color);
  padding: 0 7px 20px 7px;
  font-size: 40px;
  /*Makes items center align on the vertical axis*/
  align-items: center;
}

.project-section h3 {
  /*Removes default styling*/
  text-decoration: none;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: bolder;
  color: floralwhite;
  opacity: 100%;
  text-shadow: 2px 2px 3px #000000;
}

#white {
  color: #ef8354;
}

.proj-centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bolder;
  color: floralwhite;
  opacity: 100%;
  text-shadow: 2px 2px 3px #000000;
}

.project {
  display: flex;
  flex-wrap: nowrap;
  position:relative;
  text-align: center;
}

.project article {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.project a {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.project article img {
  max-width: 50%;
  height: auto;
  justify-content: center;
  opacity: 80%;
  box-shadow: 2px 2px 3px #586053;
}

.project article img:hover {
  /*Make image slightly transparent when you hover over*/
  opacity: 100%;
}

/* Media Queries to adjust for smaller screens*/

@media only screen and (max-width: 980px) {
  .bio-section img {
      max-width: 80%;
      /* padding: 10px */
  }

  .bio-text h2 {
      font-size: 30px;
  }

  .project {
    display: flex;
    flex-wrap: wrap;
  }

  .project article img {
    max-width: 60%;
  }


}
@media only screen and (max-width: 768px) {
  header nav ul {
      list-style: none;
      display: block;
  }

  .bio-section {
      flex-wrap: wrap;
  }

  .bio-section img {
      max-width: 100%;
      padding: 0;
  }

  .bio-text {
      text-align: center;
  }

}